.header-row{
  font-family: Arial;
  background-color: #dc6203;
  padding: 7px 10%;
  position: fixed;
  z-index: 9999;
  width: 80%;
  height: 30px;
  img{
    height: 30px;
    width: auto;
    float: left;
    cursor: pointer;
  }
  button{
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    float: right;
    color: #dc6203;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: bold;
    &:hover{
      cursor: pointer;
      animation: button-animation;
      animation-duration: 300ms;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }
  .menu-point{
    float: right;
    color: white;
    font-size: 14px;
    margin: 7px 10px;
    cursor: pointer;
    &:hover{
      border-bottom: 3px solid white;
    }
  }
}

.header-main-row{
  font-family: "Arial";
  width: 100%;
  padding: 100px 0;
  background: url("../../img/header_background.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  img{
    width: 500px;
    float: top;
    margin-bottom: 40px;
    &:hover{
      animation: button-animation;
      animation-duration: 300ms;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }
  .button-block{
    width: 100%;
    button {
      background-color: white;
      font-size: 34px;
      font-weight: bold;
      width: 500px;
      border: none;
      border-radius: 10px;
      color: rgb(129, 51, 52);
      float: bottom;
      height: 50px;
      &:hover {
        animation: button-animation;
        animation-duration: 300ms;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
    }
  }

}



@keyframes button-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0.8;
    transform: scale(1.01);
  }
}