$background: #f2f2f2;
$font-color: rgb(129, 51, 52);

body {
  background-color: $background;
  font-family: Arial;
}



.main-container {
  width: 100%;
  padding: 30px 10%;
  max-width: 1440px;
  display: inline-block;
  h2{
    font-size: 26px;
    font-weight: bold;
    color: $font-color;
    margin-bottom: 40px;
    text-align: center;
  }
  p {
    text-align: justify;
    color: #333333;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.opportunity-container {
  width: 100%;
  background-color: #ffe4b3;
  .opportunity-card{
    padding: 0 5px;
    margin-bottom: 20px;
    .card-content{
      border: none;
      padding: 20px 20px;
      border-radius: 10px;
      background-color: #ffeed4;
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover{
        animation: card-animation;
        animation-duration: 300ms;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
      h3{
        font-size: 18px;
        font-weight: bold;
        color: $font-color;
        margin-bottom: 40px;
        text-align: center;
      }
      p{
        font-size: 14px;
        text-align: center;
      }
      .img-row{
        width: 100%;
        text-align: center;
        img{
          height: 120px;
          width: 120px;
          border-radius: 60px;
        }
      }
    }
  }
}

.function-container{
  padding: 10px;
  text-align: left;

}

@media (min-width: 1440px) {
  .main-container {
    margin-left: calc((100vw - 1440px) / 2);
  }
}

@keyframes card-animation {
  from{
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1);
  }
  to{
    box-shadow: 0px 8px 4px rgba(0,0,0,0.50);
    transform: scale(1.01);
  }
}