$megaOrange: #dc6203;

body{
  margin: 0;
  text-align: center;
  font-family: Arial;
  background: url("../img/header_background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.main-container {
  .head-row{
    display: inline-block;
    width: 100%;
  }
  width: 60vw;
  background-color: white;
  border-radius: 10px;
  margin: 70px 20vw;
  padding: 30px 30px;
  max-width: 1440px;
  display: inline-block;
  h3{
    text-align: center;
    color: $megaOrange;
    font-size: 24px;
  }
}

.form-block{
  margin-bottom: 30px;
  float: left;
  width: 100%;

}

form{

  text-align: left;
  b{
    float: left;
    margin-right: 15px;
  }
  input[type="time"]{
    border: 2px solid $megaOrange;
    border-radius: 5px;
  }
  input[type="range"]{

    -webkit-appearance: none;
    &::-moz-range-thumb{
      border: 3px solid $megaOrange;
      height: 20px;
      width: 20px;
      border-radius: 12px;
      background: #ffffff;
      cursor: pointer;
    }
    &::-moz-range-track{
      background-color: $megaOrange;
    }
  }

  input[type="submit"]{
    float: right;
    background-color: $megaOrange;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
  }

  .styled-select {
    margin-left: 10px;
    float: left;
    position: relative;
    display: block;

    &::after{
      content: '\25BC';
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 3px 10px;
      background: $megaOrange;
      pointer-events: none;
      border-radius: 5px;
    }
    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      background-color: white;
      border: 3px solid $megaOrange;
      border-radius: 5px;
      width: 150px;

    }
  }



}

.avatar{
  width: 20%;
  float: left;
}

.profile-info{
  width: 70%;
  text-align: left;
  padding: 15px;
  float: right;
  border: 3px solid $megaOrange;
  border-radius: 10px;
  p{
    margin: 5px auto;
    color: #333333;
  }
  b{
    color: $megaOrange;
    font-size: 18px;
  }
  i{
    float: right;
    font-style: normal;
  }
}