$megaOrange: #dc6203;

body{
  margin: 0;
  text-align: center;
  font-family: Arial;
  background: url("../img/header_background.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.main-container{
  width: 60vw;
  background-color: white;
  border-radius: 10px;
  margin: 70px 20vw;
  padding: 30px 30px;
  max-width: 1440px;
  display: inline-block;
  h2{
    color: $megaOrange;
  }
  .pre-card{
    padding: 10px;
    width: 30%;
    float: left;
  }

  .user-card{
    border: none;
    height: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #ffeed4;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    img{
      width: 50%;
    }
  }

  button{
    border: none;
    background-color: $megaOrange;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
  }
}